@use './vendore/' as *;
@use './abstracts/' as *;
@use './base/' as *;
@use './components/' as *;
@use './layouts/' as *;



/***** my style *****/ 


body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 200vh;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
}
.bi {
font-size: 200px;
}


.dna{
  transform: translate(-50%, 100%);
 
  
}



/***** End my style *****/




